<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServiceManual.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <ServiceManual.Properties.Settings>
            <setting name="ServiceManual_WRLogin_LoginWebService" serializeAs="String">
                <value>http://39.108.188.162/DownLoad/BLL/Login/LoginWebService.asmx</value>
            </setting>
            <setting name="ServiceManual_WRFileUpdate_UpdateFileWebService"
                serializeAs="String">
                <value>http://39.108.188.162/DownLoad/BLL/UpdateFile/UpdateFileWebService.asmx</value>
            </setting>
            <setting name="ServiceManual_WRAliPay_AliPayWebService" serializeAs="String">
                <value>http://39.108.188.162/DownLoad/BLL/AliPay/AliPayWebService.asmx</value>
            </setting>
        </ServiceManual.Properties.Settings>
    </applicationSettings>
</configuration>